/* style.css */

body {
  font-family: Arial, sans-serif;
  color: #666;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.header {
  background-color: #0077b6;
  padding: 1rem;
  text-align: center;
  color: #ffffff;
}

h1 {
  color: #333;
  padding: 10px 0;
}

/* navigation */

.cta-button {
  display: block;
  width: 200px;
  height: 30px;
  margin: 2rem auto;
  background: #0077b6;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.4s ease-in;
}

.cta-button:hover {
  background: #005073;
}

.features {
  margin: 30px 0;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features li {
  margin-bottom: 1rem;
}

.contact h2, .features h2  {
  color: #333;
}

.contact {
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }

  h1 {
    font-size: 20px;
  }

  .cta-button {
    width: 150px;
    font-size: 18px;
    padding: 5px;
  }

  .features h2, .contact h2 {
    font-size: 20px;
  }
}

ul {
  list-style-type: none;
}

div {
  text-align: left;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

i {
  font-size: 24px;
  margin-right: 10px;
}
/* Prevent text selection for the entire page */
body {
    user-select: none;
}

/* Allow text selection within elements having the 'copyPermittedClass' class */
.copyPermittedClass {
    user-select: text;
}
